.project-heading{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.project-heading-box{
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    padding: 8px 20px;
    background-color: rgba(26, 20, 67, 1);
    border-radius: 6px;
}
.project-heading-box-line-right{
    display: flex;
    position: absolute;
    right: -1231px;
    bottom: 50%;
    width: 1231px;
    height: 2px;
    background-color: rgba(26, 20, 67, 1);
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 100px;
    position: relative;
    height: 650px;
    overflow-y: auto;
    /* border: 1px solid green; */
}
.card{
    position: sticky;
    top: 0;
    box-shadow: 0 -5px 10px black,
        0 5px 10px black;
}
.card:nth-child(2){
    top: 54px;
}
.card:nth-child(3){
    top: 108px;
}
.card:nth-child(4){
    top: 162px;
}
::-webkit-scrollbar{
    width: 0;
}

.sticky-card-header{
    display: flex;
    justify-content: center;
    margin-right: 50px;
    color: #16F2B3;
    font-size: 20px;
    line-height: 28px;
    width: 538px;

}