.self-introduction{
    display: flex;
    gap: 48px;
    /* border: 1px solid white; */
    height: 580px;
    padding: 48px 0px 48px 0px;
}
.self-intro-left{
    width: 664px;
    height: 484px;
    padding: 40px 8px;
}
.self-intro-left h1{
    color: white;
    font-size: 43px;
    font-weight: 800;
    height: 224px;
    width: 648px;
    line-height: 55px;
}
.social-media{
    display: flex;
    gap: 20px;
    width: 230px;
    margin: 48px 0px 48px 0px;
}
.social-media i{
    font-size: 30px;
    color: rgb(236 72 153);
    gap: 20px;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;

}
.social-media i:hover{
    transform: scale(1.3);
}

button{
    border: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .7px;
}
.btn-contact{
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 52px;
    width: 180px;
    background-color: transparent;
    color: white;
    margin-right: 10px;
    transition: width 0.3s ease;
}
.btn-contact::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px; 
    padding: 1.5px; 
    background: linear-gradient(90deg, rgb(92, 1, 248) 0%, rgba(236, 72, 153, 1) 100%); 
    mask: 
      linear-gradient(#000 0 0) content-box, 
      linear-gradient(#000 0 0);
    mask-composite: exclude; 
}
.btn-contact:hover {
    width: 190px;
    cursor: pointer;
}
.btn-contact:hover::before{
    background: linear-gradient(90deg,rgba(236, 72, 153, 1)  0%,  rgb(92, 1, 248) 100%); 
    mask: 
      linear-gradient(#000 0 0) content-box, 
      linear-gradient(#000 0 0);
    mask-composite: exclude;
}
.btn-contact-text{
    margin-left: 35px;
}
.btn-contact i{
    margin-left: 5px;
}
.btn-contact:hover  i{
    margin-left: 15px;
    transition: margin-left 0.3s ease;
}

/* .btn-contact-text{
    margin-left: 35px;
}
.btn-contact-icon{
    flex-grow: 1;
}
.btn-contact:hover{
    width: 185px;
} */
.btn-resume{
    display: inline-flex;
    align-items: center;
    height: 52px;
    width: 180px;
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(236, 72, 153, 1) 0%, rgba(124, 58, 237 ,1) 100%);
    color: white;
    transition: width 0.3s ease;
    overflow: hidden;
}
.btn-resume:hover{
    width: 190px;
}
.btn-resume-text{
    margin-left: 35px;
}
.btn-resume i{
    margin-left: 5px;
}
.btn-resume:hover  i{
    margin-left: 15px;
    transition: margin-left 0.3s ease;
}
.right-img{
    width: 100px;
    height: 100px;
}



.self-intro-right{
    height: 481px;
    width: 664px;
    border: 1px solid #152155;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(13, 18, 36, 1) 0%, rgba(10, 13, 55, 1) 100%);
}
.colorful-dots{
    display: flex;
    gap: 8px;
    padding: 20px 32px;
    border-bottom: 2px solid #312E81;
}
.pink-dot{
    height: 12px;
    width: 12px;
    background: #F87171;
    border-radius: 6px;
}
.orange-dot{
    height: 12px;
    width: 12px;
    background: #FB923C;
    border-radius: 6px;
}
.grey-dot{
    height: 12px;
    width: 12px;
    background: #BBF7D0;
    border-radius: 6px;
}
.self-intro-right-text{
    margin: 32px;
    height: 361px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}
.white{
    color: white;
}
.grey{
    color: #979AA6;
}
.yellow{
    color: #FCD34D;
}
.orange{
    color: #FB903A;
}
.blue{
    color: #22D3EE;
}